*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8fbfe;
}

.head{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
}

.welcome-header{
    padding-left: 20px;
}


.welcome-header h2{
    font-family: poppins;
    font-weight: 500;
}

.help{
    /* border: 1px solid red; */
    display: flex;
    gap:1.5rem;
    padding-right:45px;
    align-items: center;
}
.help a{
    color:#355389
}
.info{
    background-color:#FFFFFF;
     height: 100vh; 
     float: left; 
     width: 285px;
}

.logo-image {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 50px;
}

.search{
    padding-left: 25px;
    margin-left: 5px;
    padding-right: 103px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-top: 50px;
    border: 0.5px;
    background-color:#D9D9D9

}

.search::placeholder{
   
    font-family: poppins;
}

.student-bar{
    display: grid;
    gap: 1rem;
    padding-left: 30px;
    padding-top: 30px;
    
}

.student-bar a{
    text-decoration: none;
    /* border:1px solid red */
    display: flex;
    gap: 1rem;
    font-family: poppins;
    color:#000000;
    font-size: 14px;
    align-items: center;
    
}

.student-bar a:hover{
    color: rebeccapurple;
}

.student-bar{
    /* border:1px solid red; */
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.student-bar i{
    color: #355389;

}

