*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #f3f3f3;
  }
  .image-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

  .success{
    border: 1px solid #F47458;
  }

  .error{
    color: #F47458;
    font-size: 14px;
    
  }

  .welcome-container{
    /*width: 50%;*/
    margin: 0 auto;
    background-color: #355389;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    text-align: center;
    padding: 30px;
    height: 98vh;
  }
  
  h3{
    font-family: poppins;
    font-size: 28px;
    /* background-color: #355389; */
    color: #FFFFFF;
    font-weight: 300;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    /* border: 1px solid black; */
    /* background-color: #355389; */
  }
  .sign-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* width: 400px; */
    margin: 0 auto;
    padding: 10px 20px;
    /* background-color: #355389; */
    
  }
  input{
    /* padding: 15px 70px; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 120px;
    background-color: transparent;
    border: 1px solid white;
    border-radius:  10px;
    color: #FFFFFF;
    outline: none;
    
  }
  label{
    color: #FFFFFF;
    font-family: poppins;
    font-size: 13px;
  }
  
  
  p{
    margin: 0 auto;
    color: #FFFFFF;
    font-family: poppins;
    font-size: 13px;
  
  }
  span{
    color:#FFFFFF;
    font-family: poppins;
    font-size: 15px;
  }
  .terms{
    color:#FFFFFF;
    font-family: poppins;
    font-size: 15px;
  }
  .btn1{
    border: none;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: white;
    background-color:#F47458;
    margin: 0 auto;
    font-family: poppins;
    cursor: pointer;
  }
  
  a{
    color:#F47458;
    font-family: poppins;
    font-size: 13px;
  }
  
  a:hover{
    color: black;
  }

  .faculty-des{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 230px;
    background-color: transparent;
    border: 1px solid white;
    border-radius:  10px;
    color: rgb(255, 255, 255);
    outline: none;
    background-color: #355389;
  }

  .department-des{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 180px;
    background-color: transparent;
    border: 1px solid white;
    border-radius:  10px;
    color: #FFFFFF;
    outline: none;
    background-color: #355389;
  }

  hr{
    width: 5rem;
    outline: 1px thin white;
  }

  .line{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .texty{
    margin: 0 auto;
    font-family: poppins;
    font-weight: normal;
  }

  .social-media{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
  }


<<<<<<< HEAD




  






=======
  .faculty-des{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 200px;
    background-color: transparent;
    border: 1px solid white;
    border-radius:  10px;
    color: black;
    outline: none;
    
  
    }
>>>>>>> ba3d2ba6a65480dbdd2056dacaab2c0d78928ff3
